Source: python-sqlfuse
Section: python
Priority: optional
Maintainer: Matthias Urlichs <smurf@smurf.noris.de>
Build-Depends: debhelper (>= 5), python-central (>= 0.5), python-all-dev, python-twisted-core (>= 10.1)
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-sqlfuse
Architecture: all
Depends: ${python:Depends}, python (>= 2.6), python-twisted-core (>= 10.1), python-sqlmix (>> 0.9.4), fuse-utils (>> 2.8), python-twistfuse (>> 0.1.1)
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: A replicated FUSE filesystem which stores metadata in SQL
 This filesystem stores the actual contents in a "normal" file system, but
 all the metadata (directory structure, access rights, etc.) are stored in
 a SQL database.
 .
 Databases already can do replication, so this takes care of the metadata.
 File contents are replicated by the file system daemons, via a dedicated
 TCP connection. (Other methods to interconnect are possible.)
 .
 Connections between the replication nodes can have any topology.
 The system will find the shortest available path to fetch a file.
 .
 A given database can hold any number of such file systems.
